
#main{
background-color: pink;
}
#aside{
background-color: orange;
}
#footer{
background-color: grey;
}
#alignCenter{
	text-align: center;
}
.block{
	display: block;
}
#green{
 background-color: #70db70;
}
#purple{
 background-color:  #ffb3ff;
}
#yellow{
 background-color: #e6b800;
}